@charset "UTF-8";

/* TODAS AS DEMAIS MIDIAS */

@media print{
body{
    *{
        font-family:'Courier New', Courier, monospace;
    }
    main{
        width:90vw;
        border:2px solid black;
    }
    main h1{
        color:black;
        text-shadow:none;
    }
}

    img#phone{display:none}
    img#tablet{display:none}
    img#pc{display:none}
    img#tv{display:none}
    img#print{display:block}

   main::after{
    content:"Essa imprensão foi feita através do site www.cursoemvideo.com";
    text-decoration:overline;
   }

}  /*IMPRENSÃO*/



/* TABLETS */
@media screen and (min-width:778px) and (max-width:1112px){
    body{
        background-image:url(../imagens/back-tablet.jpg);
    }

    img#phone{display:none}
    img#tablet{display:block}
    img#pc{display:none}
    img#tv{display:none}
    img#print{display:none}
}


/*LAPTOPS, PCS */
@media screen and (min-width:1366px) and (max-width:1920px){
    body{
        background-image:url(../imagens/back-pc.jpg);
    }

    img#phone{display:none}
    img#tablet{display:none}
    img#pc{display:block}
    img#tv{display:none}
    img#print{display:none}
}


/* TELAS GRANDES */
@media screen and (min-width:1920px){
    body{
        background-image:url(../imagens/back-tv.jpg);
    }
    main{
        width:800px;
        font-size: 2.2em;
    }

    img#phone{display:none}
    img#tablet{display:none}
    img#pc{display:none}
    img#tv{display:block}
    img#print{display:none}
}