@charset "UTF-8";

/* CONFIGURAÇÕES GERAIS */

html,body{
    background-color:#233eff;
    width:100vw;
    height:100vh;
    background-size:contain;
    background-repeat:no-repeat;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color:white;
    text-shadow:#0f1d8ad2;
}

/* CONFIGURAÇÕES MODO RETRATO (portrait) */
@media screen and (orientation: portrait) {
  body{
    background-image:url(../imagens/cev-portrait.jpg);
    background-position:center bottom;
}
}


/* CONFIGURAÇÕES PAISAGEM (LANDSCAPE) */
@media screen and (orientation: landscape){
  body{
    background-image:url(../imagens/cev-landscape.jpg);
    background-position:left bottom;
    
}
}